<main class="activities">
  <h2>Aktivitäten</h2>

  <div class="activities-gallery">
    {{activity-item class="activity-item-wrapper" path="assets/img/activities/trampolin1.jpg" caption="Trampolin"}}
    {{activity-item class="activity-item-wrapper" path="assets/img/activities/lagerfeuer2.jpg" caption="Lagerfeuer"}}
    {{activity-item class="activity-item-wrapper" path="assets/img/activities/beach1.jpg" caption="Beach Volleball"}}
    {{activity-item class="activity-item-wrapper" path="assets/img/activities/basketball1.jpg" caption="Basketball"}}
{{!-- {{activity-item path="assets/img/activities/basketball1.jpg" caption="Tischtennis"}} --}}
  {{activity-item class="activity-item-wrapper" path="assets/img/activities/sauna1.jpg" caption="Saunieren"}}
  {{activity-item class="activity-item-wrapper" path="assets/img/activities/fahrrad1.jpg" caption="Fahrradausflüge in die Umgebung"}}
    {{!--  {{activity-item path="assets/img/activities/basketball1.jpg" caption="Baden in den umliegenden Seen"}} --}}
  {{activity-item class="activity-item-wrapper" path="assets/img/activities/entspannen1.jpg" caption="Die Seele baumeln lassen"}}

</div>


</main>

